<ion-item lines="none" color="light">
  <ion-label style="font-weight: bold; font-size: 25px;">Settings</ion-label>
</ion-item>

<ion-list lines="full">
  <ion-item lines="none">
    <ion-text style="font-size: 10px; color: #5a5a5a;">ACCOUNT DETAILS</ion-text>
  </ion-item>
  <ion-item detail="true" button>
    <ion-avatar slot="start">
      <img src="../../assets/images/avatar.svg">
    </ion-avatar>
    <ion-label>
      <h2 style="font-weight: bold;">{{http.user.firstName}}</h2>
      <p>{{http.user.email}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list lines="full">
  <ion-item lines="none">
    <ion-text style="font-size: 10px; color: #5a5a5a; padding-top: 15px;">ABOUT ACHU</ion-text>
  </ion-item>
  <ion-item detail="true" button>
    <ion-label>
      <h3>Fitbit Authorization</h3>
    </ion-label>
  </ion-item>
  <ion-item detail="true" button (click)="optIn()">
    <ion-label>
      <h3>Competition Opt In</h3>
    </ion-label>
  </ion-item>
  <ion-item detail="true" button>
    <ion-label>
      <h3>Privacy Policy</h3>
    </ion-label>
  </ion-item>
  <ion-item detail="true" button>
    <ion-label>
      <h3>Terms of Use</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>achu Version</h3>
    </ion-label>
    <ion-note slot="end" color="medium">{{version}}</ion-note>
  </ion-item>
</ion-list>

<ion-list lines="full" style="padding-bottom: 20px;">
  <ion-item lines="none">
    <ion-text style="font-size: 10px; color: #5a5a5a; padding-top: 15px;">LOGOUT OF ACHU</ion-text>
  </ion-item>
  <ion-item detail="false" button (click)="http.logout()">
    <ion-label color="primary">
      <h3>Logout</h3>
    </ion-label>
  </ion-item>
</ion-list>