<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center" style="position: fixed; top: 100px; left: 0; right: 0;">
      <ion-col size="1"></ion-col>
      <ion-col size="8">
        <ion-text style="font-size: x-large; font-weight: bold; float: left;">Password Reset</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="position: fixed; top: 160px; left: 0; right: 0;">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card-subtitle style="font-size:12px">To receive a password reset link please enter a valid email address.
          Please check your spam folder.</ion-card-subtitle>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="position: fixed; top: 250px; left: 0; right: 0;">
      <ion-col size="1"></ion-col>
      <ion-col size="8">
        <div style="float: left;">
          <ion-item lines="none">
            <ion-label position="stacked">
              <p style="font-weight: bold; font-size: 20px;color:black;">Email</p>
            </ion-label>
            <ion-input style="width: 100%;" type="email" placeholder="example@example.com" [(ngModel)]="emailreset">
            </ion-input>
          </ion-item>

          <ion-button id="createBtn" color="primary" style="margin-top: 5px" (click)="sendPwReset()">Send Reset
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>