ion-header ion-toolbar {
    --box-shadow: none !important;
    background-image: none;
    --border-color:#fefefe;
    --background: #fefefe;
}

#createBtn {
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 40px;
    --padding-end: 40px;
    --box-shadow: none;
    --border-radius: 8px;
    text-transform: none;
    --background-activated: #000000 !important;
    --background-hover: #000000 !important;
}

ion-input {
    padding-top: 3px;
    padding-bottom: 3px;
}

ion-content {
    --background:#fefefe;
}