ion-header ion-toolbar {
    --box-shadow: none !important;
    background-image: none;
    --border-color: #ffffff;
    --background: #ffffff
}

#createBtn {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-start: 40px;
    --padding-end: 40px;
    --box-shadow: none;
    --border-radius: 8px;
    padding-top: 10px;
    text-transform: none;
}

ion-input {
    padding-top: 3px;
    padding-bottom: 3px;
}