.my-comp-card {
    --background: #FFF;
    box-shadow: none !important;
}

.bar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ion-color-privacy {

    --ion-color-base: var(--ion-color-privacy);
}

 .ion-color-privacybg {
     --ion-color-base: var(--ion-color-privacybg);
 }


 .ion-color-friends {

    --ion-color-base: var(--ion-color-friends);
}

 .ion-color-friendsbg {
     --ion-color-base: var(--ion-color-friendsbg);
 }