<ion-card color="privacybg" *ngIf="!http.userSettings.fitBitShare">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-subtitle>Privacy Settings</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-subtitle style="font-size:10px">In order for you to compete with friends you must enable data
            sharing in
            settings.
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="small" (click)="optIn()" color="privacy">Enable Sharing</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>

<ion-card color="friendsbg" *ngIf="friendData.length <= 0">
  <ion-card-header>
    <ion-card-subtitle style="color: black">We noticed you don't have any Fitbit friends! Please invite friends
      through
      your Fitbit application to start competing!</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card style="width: 100%; padding: 0; margin: 0;" class="my-comp-card">
  <ion-card-header *ngIf="friendData.length > 0 && http.userSettings.fitBitShare">
    <ion-card-subtitle class="title" style="text-decoration: none;">Competition</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card *ngIf="friendData.length > 0 && http.userSettings.fitBitShare">
  <ion-card-content style="padding: 0 !important;">
    <ion-item (click)="expandItem(item)" *ngFor="let item of friendData; index as i" lines="none"
      style="padding: 0 !important;">
      <ion-label>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="2" class="ion-align-self-center">
              <img src="../../assets/images/Ribbon_1.png" *ngIf="i == 0" style="margin: auto; display: block">
              <img src="../../assets/images/Ribbon_2.png" *ngIf="i == 1"
                style="width: 70%; margin: auto; display: block">
              <img src="../../assets/images/Ribbon_3.png" *ngIf="i == 2"
                style="width: 70%; margin: auto; display: block">
            </ion-col>
            <ion-col size="7" class="ion-align-self-center">
              <ion-text style="font-size: 14px; color: black">{{item.name}}</ion-text>
              <br>
              <ion-text style="font-size: 10px; color: gray;">Overall Completion</ion-text>



            </ion-col>
            <ion-col size="2" class="ion-align-self-center bar" style="text-align: right;">
              {{(item.overallCompletion / 100) * 100 | number}}%

            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
              <ion-icon *ngIf="!item.expanded" name="chevron-forward" style="float: right"></ion-icon>
              <ion-icon *ngIf="item.expanded" name="chevron-up" style="float: right"></ion-icon>
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col size=2>



            </ion-col>
            <ion-col>
              <ion-progress-bar value="{{item.overallCompletion / 100}}" reversed="false" color="primary">
              </ion-progress-bar>
            </ion-col>
          </ion-row>

        </ion-grid>

        <app-expandable expandHeight="200px" [expanded]="item.expanded">
          <div class="bar" *ngFor="let goal of item.goals">



            <ion-text style="font-size: 12px; font-weight: bold; float: left">
              {{goal.goalType | goalType}}
            </ion-text>
            <ion-text style="font-size: 12px; float: right">{{(goal.progress / goal.goal) * 100 | number:'1.0-0'}}%
            </ion-text>
            <ion-progress-bar value="{{goal.progress / goal.goal}}" reversed="false" color="primary">
            </ion-progress-bar>

          </div>
        </app-expandable>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-spinner style="margin: auto; display: block" *ngIf="loading"></ion-spinner>