<ion-header mode="ios" translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/images/1.png" />
        <h3>Personalized Goals</h3>
        <p>We provide attainable goals based on your individual demographic that constantly adjust to bring you to your
          optimal level of health.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/2.png" />
      <h3>Compete Against Yourself</h3>
      <p>Compete against yourself week over week. Track your progress and motivate yourself to complete your
        personalized goals.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/3.png" />
      <h3>Compete Against Your Friends</h3>
      <p>Compete against your Fitbit friends across four categories including Exercise, Steps, Sleep, and Calories! All
        goal competitions are based on your percentage of completion so its always fair.</p>
    </ion-slide>

    <ion-slide>
      <h3>Win Prizes – Coming Soon</h3>
      <p>Compete against athletes and special guests to be eligible for draws where you can win gift cards and more.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/5.png" />
      <h3>Track Stress and Fatigue</h3>
      <p>Complete your daily check-ins to receive your personalized risk assessment.</p>
      <ion-button fill="solid" id="createBtn" color="primary" (click)="dismiss()">Get Started with achu
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>