<ion-card style="width: 100%; padding: 0; margin: 0;" class="my-stats-card">
  <ion-card-header>
    <h1 style="color: black">My Stats</h1>
    <p>Overall Progression</p>
  </ion-card-header>
  <ion-card-content>
    <canvas #barCanvas style="width: 100%; height: 220px;"></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" style="background-color: #F3F3F3; border-radius: 5px;">
          <ion-icon name="fitness" color="steps" style="display: block; margin: auto;"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <strong>Steps</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content *ngIf="weeklyData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            This Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[0].goals[1].progress / weeklyData[0].goals[1].goal}}" reversed="false"
          color="steps">
        </ion-progress-bar>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: right">
            {{(weeklyData[0].goals[1].progress / weeklyData[0].goals[1].goal) * 100 | number:'1.0-0'}} /
            100
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            Last Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[1].goals[1].progress / weeklyData[1].goals[1].goal}}" reversed="false"
          color="last">
        </ion-progress-bar>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: right">
            {{(weeklyData[1].goals[1].progress / weeklyData[1].goals[1].goal) * 100 | number:'1.0-0'}} /
            100
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" style="background-color: #F3F3F3; border-radius: 5px;">
          <ion-icon name="fitness" color="cals" style="display: block; margin: auto;"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <strong>Calories</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content *ngIf="weeklyData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            This Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[0].goals[2].progress / weeklyData[0].goals[2].goal}}" reversed="false"
          color="cals">
        </ion-progress-bar>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: right">
            {{(weeklyData[0].goals[2].progress / weeklyData[0].goals[2].goal) * 100 | number:'1.0-0'}} /
            100
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            Last Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[1].goals[2].progress / weeklyData[1].goals[2].goal}}" reversed="false"
          color="last">
        </ion-progress-bar>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: right">
            {{(weeklyData[1].goals[2].progress / weeklyData[1].goals[2].goal) * 100 | number:'1.0-0'}} /
            100
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" style="background-color: #F3F3F3; border-radius: 5px;">
          <ion-icon name="fitness" color="sleep" style="display: block; margin: auto;"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <strong>Sleep</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content *ngIf="weeklyData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            This Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[0].goals[0].progress / weeklyData[0].goals[0].goal}}" reversed="false"
          color="sleep" style="margin-bottom: 15px;">
        </ion-progress-bar>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: left">
            Last Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[1].goals[0].progress / weeklyData[1].goals[0].goal}}" reversed="false"
          color="last" style="margin-bottom: 15px;">
        </ion-progress-bar>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" style="background-color: #F3F3F3; border-radius: 5px;">
          <ion-icon name="fitness" color="excercise" style="display: block; margin: auto;"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <strong>Exercise</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content *ngIf="weeklyData">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; font-weight: bold; float: left">
            This Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[0].goals[3].progress / weeklyData[0].goals[3].goal}}" reversed="false"
          color="excercise" style="margin-bottom: 15px;">
        </ion-progress-bar>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-size: 12px; float: left">
            Last Week
          </ion-text>
        </ion-col>
        <ion-progress-bar value="{{weeklyData[1].goals[3].progress / weeklyData[1].goals[3].goal}}" reversed="false"
          color="last" style="margin-bottom: 15px;">
        </ion-progress-bar>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>