<ion-toolbar mode="md">
  <ion-title slot="start" style="font-size: 25px">Opt In</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" color="primary" (click)="dismiss()">Close</ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>

</ion-content>
<ion-footer class="ion-no-border" style="height: 125px;">
  <ion-toolbar id="footerBar">
    <ion-button id="createBtn" color="primary" expand="block" (click)="submit()" mode="ios">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>