<ion-toolbar mode="md">
  <ion-title slot="start" style="font-size: 25px">Heart Rate Zones</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" color="primary" (click)="dismiss()">Close</ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card-subtitle class="title">My Stats</ion-card-subtitle>
            <p>Track your overall goal completion statistics day over day and motivate yourself to complete your goals.
              The grey line on the line chart indicates your previous weeks overall goal completion for that day. The
              green line indicates your curent weeks overall goal completion. Use the Steps, Calories, Sleep, and
              Excercise progress charts to see how your metrics have increased from the previous week. </p>

          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-footer class="ion-no-border" style="height: 125px;">

  <ion-toolbar id="footerBar">

    <ion-button color="privacy" expand="block" (click)="dismiss()" mode="ios">
      Close
    </ion-button>

  </ion-toolbar>

</ion-footer>