#createBtn {
    --padding-top: 25px;
    --padding-bottom: 25px;
    --box-shadow: none;
    --border-radius: 8px;
    text-transform: none;
}

#footerBar {
    --min-height: 65px;
}

::ng-deep {
    .slider {
        .ng5-slider {
            :focus {outline:0 !important;}
            .ng5-slider-inner-tooltip {
                height: 0% !important;
            }
        }
        .ng5-slider {
            .ng5-slider-pointer{
                background-color: #4cbf9f;
            }
            .ng5-slider-pointer.ng5-slider-active:after {
                background-color: #83d1de;
            }
        }

    }
}

 