/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background: #fefcfe;
}

ion-card-subtitle {
    text-decoration: none !important;
    text-transform: none!important;
}

.my-custom-modal-css .modal-wrapper {
    height: 100%;
    top: 8%;
    position: absolute; 
    display: block;  
    --border-radius: ;
 }

 .ion-color-privacy {

    --ion-color-base: var(--ion-color-privacy);
}

 .ion-color-privacybg {
     --ion-color-base: var(--ion-color-privacybg);
 }


 .ion-color-friends {

    --ion-color-base: var(--ion-color-friends);
}

 .ion-color-friendsbg {
     --ion-color-base: var(--ion-color-friendsbg);
 }

.grey-bg {
    --background: #fefcfe !important;
}
 .title {
    color: black;
     text-decoration: none;
     font-size: 16px;
     font-weight: bold;
 }

 .title-nb {
    color: black;
     text-decoration: none;
     font-size: 16px;
     font-weight:300;
      }

      .title-regular{
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
      }

 .large-text {

    color: black;
    text-decoration: none;
    font-size: 16px;

 }

 .medium-text {
    color: black;
    text-decoration: none;
    font-size: 14px;

 }

 .small-text {
    color: black;
    text-decoration: none;
    font-size: 12px;
 }

 .content {
    color: black;
     font-size: 14px;
     font-weight: 300;
 }

 ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 2em;
      height: 2em;
    }
  
    &[class*="custom-clipboard"] {
      mask-image: url(assets/images/checkin.svg);
    }

    &[class*="custom-clipboard-negative"] {
        mask-image: url(assets/images/checkin-negative.svg);
      }

   
 
 
  
  }