<app-header-card></app-header-card>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)" spinner="crescent"
    pulling-text="Pull to refresh...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="today-view" [hidden]="!(currentNav == 'today')">
    <ion-card color="privacybg" [hidden]="!needsFitbitAuth">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle class="title">Fitbit Authorization Required</ion-card-subtitle>
              <ion-card-subtitle class="content">To use this application you must authorize Achu Health™ as a trusted
                application. To begin, please click the Authorize button below.</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="small" color="privacy" target="_blank"
                href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22C2N2&redirect_uri=achu%3A%2F%2Fdatapult.com&scope=activity%20nutrition%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight">
                Authorize</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    <ion-card color="privacybg" *ngIf="needsCheckin">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle class="title">Daily Check In</ion-card-subtitle>
              <ion-card-subtitle class="content">To receive stress and fatigue updates please complete a Daily
                Check In by clicking the floating clip board icon or the start button below!</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="small" color="privacy" (click)="openDailyCheckup()">Start</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-item lines="none" class="item-text title-text grey-bg">
      <ion-label class="title-nb">Daily Goals</ion-label>
    </ion-item>

    <ion-card class="goal-card" *ngIf="goals">
      <ion-card-content>
        <div class="flex-container">
          <div class="bars-container">
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Steps
              </ion-text>
              <ion-text class="title-regular" style="float: right">{{stepsProgress}}%
              </ion-text>
              <ion-progress-bar class="dailyProgress" value="{{stepsProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text class="medium-text" style="float: left">{{stepsCurrent  | number }} / {{stepsGoal  | number }}
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Calories
              </ion-text>
              <ion-text class="title-regular" style="float: right">{{caloriesProgress}}%
              </ion-text>
              <ion-progress-bar class="dailyProgress" value="{{caloriesProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text class="medium-text" style="float: left">{{caloriesCurrent  | number }} /
                {{caloriesGoal  | number }}
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Sleep
              </ion-text>
              <ion-text class="title-regular" style="float: right">{{sleepProgress}}%
              </ion-text>
              <ion-progress-bar class="dailyProgress" value="{{sleepProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text class="medium-text" style="float: left">{{(sleepCurrent / 60)  | number }} /
                {{(sleepGoal / 60)  | number: '1.0-1'}} hrs
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Exercise
              </ion-text>
              <ion-text class="title-regular" style="float: right">{{exerciseProgress}}%
              </ion-text>
              <ion-progress-bar class="dailyProgress" value="{{exerciseProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text class="medium-text" style="float: left">{{exerciseCurrent  | number }} /
                {{exerciseGoal  | number }} mins
              </ion-text>
            </div>
          </div>
          <div class="character-container">
            <ion-img [src]="gifImg"></ion-img>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="goal-card" *ngIf="!goals">
      <ion-card-content>
        <div class="flex-container">
          <div class="bars-container">
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Steps
              </ion-text>
              <ion-text class="title-regular" style="float: right">0%
              </ion-text>
              <ion-progress-bar value="0" buffer="0"></ion-progress-bar>
              <ion-text class="medium-text" style="float: left">0 / 0
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Calories
              </ion-text>
              <ion-text class="title-regular" style="float: right">0%
              </ion-text>
              <ion-progress-bar value="0" buffer="0"></ion-progress-bar>
              <ion-text class="medium-text" style="float: left">0 /
                0
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Sleep
              </ion-text>
              <ion-text class="title-regular" style="float: right">0%
              </ion-text>
              <ion-progress-bar value="0" buffer="0"></ion-progress-bar>
              <ion-text class="medium-text" style="float: left">0 /
                0 hrs
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text class="title-regular" style="float: left">
                Exercise
              </ion-text>
              <ion-text class="title-regular" style="float: right">0%
              </ion-text>
              <ion-progress-bar value="0" buffer="0"></ion-progress-bar>
              <ion-text class="medium-text" style="float: left">0 /
                0 mins
              </ion-text>
            </div>
          </div>
          <div class="character-container">
            <ion-img [src]="gifImg"></ion-img>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card style="margin-top:0px;" *ngIf="http.user.goals">
      <ion-card-header>
        <ion-card-subtitle class="title">AchuCharacter</ion-card-subtitle>
        <ion-card-subtitle class="content">{{this.http.userSettings.avatarName}} is your own personal goal-driven avatar
          who adapts to your health status and overall goal completion. {{this.http.userSettings.avatarName}} is driven
          by your consistency in achieving your person goals to ensure your stay motivated on your health journey!
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="title-regular" style="float: left;padding-bottom:5px;">
          Overall Goal Completion
        </ion-text>
        <ion-text class="title-regular" style="float: right">{{overallCompletion}}%
        </ion-text>
        <ion-progress-bar value="{{overallCompletionBar}}" reversed="false" color="primary" class="overallBar">
        </ion-progress-bar>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-top:0px;" *ngIf="!http.user.goals">
      <ion-card-header>
        <ion-card-subtitle class="title">AchuCharacter</ion-card-subtitle>
        <ion-card-subtitle class="content">{{this.http.userSettings.avatarName}} is your own personal goal-driven avatar
          who adapts to your health status and overall goal completion. {{this.http.userSettings.avatarName}} is driven
          by your consistency in achieving your person goals to ensure your stay motivated on your health journey!
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="title-regular" style="float: left;padding-bottom:5px;">
          Overall Goal Completion
        </ion-text>
        <ion-text class="title-regular" style="float: right">0%
        </ion-text>
        <ion-progress-bar value="0" buffer="0" color="primary" class="overallBar">
        </ion-progress-bar>
      </ion-card-content>
    </ion-card>

    <ion-card class="heart-rate-card" *ngIf="HRZones">
      <ion-button fill="clear" style="float: right;" (click)="openHrzInfo()">
        <ion-icon slot="icon-only" name="information-circle" style="color: #cfcfcf;font-size:20px;"></ion-icon>
      </ion-button>
      <ion-card-header>
        <ion-card-subtitle class="title" (click)="openHrzInfo()">Workout HR Zones</ion-card-subtitle>
        <ion-card-subtitle class="content">Your HR Trend shows a moderate
          similarity in
          your fatigue trends
          from
          your last 4 days
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="circle-container">
          <ion-text style="font-weight: bold; font-size: x-large; margin: auto; text-align: center; padding: 0;">
            {{totalWorkout}}<span
              style="font-weight: bold; margin: auto; text-align: center; padding: 0; font-size: small">min</span>
          </ion-text>
        </div>
        <div class="text-container">
          <ion-text style="font-weight: bold; margin: auto; text-align: center; padding: 0; font-size: x-small;">
            Total
            Workout</ion-text>
        </div>
        <canvas #lineCanvas style="width: 100%; height: 40%; z-index: 50;"></canvas>
        <br>
        <ion-card-subtitle class="small-text">Your last workout: {{lastWorkout}}</ion-card-subtitle>
        <ion-grid>
          <ion-row class="inner-rows">
            <ion-col size="7" style="padding-top:0px!important;">
              <ion-text class="content" style=" vertical-align: middle;"><span style="font-weight: bold">Fat
                  Burning:</span> {{HRZones[2] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[2] / 100}}" color="fat-burning"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-text class="content" style="display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio:</span> {{HRZones[1] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[1] / 100}}" color="cardio"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row class="inner-rows">
            <ion-col size="7">
              <ion-text class="content" style="display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Peak:</span> {{HRZones[0] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[0] / 100}}" color="peak"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top:20px;">
            <ion-col size="6">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Fat Burning:</span> 1 min = 1 min
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio & Peak:</span> 1 min = 2 min
              </ion-text>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card class="heart-rate-card" *ngIf="!HRZones">
      <ion-button fill="clear" style="float: right;" (click)="openHrzInfo()">
        <ion-icon slot="icon-only" name="information-circle" style="color: #cfcfcf;font-size:20px;"></ion-icon>
      </ion-button>
      <ion-card-header>
        <ion-card-subtitle class="title" (click)="openHrzInfo()">Workout HR Zones</ion-card-subtitle>
        <ion-card-subtitle class="content">Your HR Trend shows a moderate
          similarity in
          your fatigue trends
          from
          your last 4 days
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!--<div style="position: absolute; z-index: 99; top: 10%; left: 40%;">
          <ion-text style="font-weight: bold; font-size: x-large; margin: auto; text-align: center; padding: 0;">
            {{totalWorkout}}<span
              style="font-weight: bold; margin: auto; text-align: center; padding: 0; font-size: small">min</span>
          </ion-text>
        </div>
        <div style="position: absolute; z-index: 99; top: 15%; left: 37%">
          <ion-text style="font-weight: bold; margin: auto; text-align: center; padding: 0; font-size: x-small;">
            Total
            Workout</ion-text>
        </div>-->
        <canvas #lineCanvas style="width: 100%; height: 40%; z-index: 50;"></canvas>
        <br>
        <ion-card-subtitle class="small-text">Your last workout: </ion-card-subtitle>
        <ion-grid>
          <ion-row class="inner-rows">
            <ion-col size="7" style="padding-top:0px!important;">
              <ion-text class="content" style=" vertical-align: middle;"><span style="font-weight: bold">Fat
                  Burning:</span> 0
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="0" buffer="0" color="fat-burning"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-text class="content" style="display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio:</span> 0
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="0" buffer="0" color="cardio"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row class="inner-rows">
            <ion-col size="7">
              <ion-text class="content" style="display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Peak:</span> 0
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="0" buffer="0" color="peak"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top:20px;">
            <ion-col size="6">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Fat Burning:</span> 1 min = 1 min
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio & Peak:</span> 1 min = 2 min
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-item lines="none" class="item-text title-text grey-bg">
      <ion-label class="title-nb">Health Updates</ion-label>
    </ion-item>

    <ion-card style="margin-top:0px;">
      <ion-card-header>
        <ion-card-subtitle class="title">Stress</ion-card-subtitle>
        <ion-card-subtitle class="content">Your stress indicator is a
          combination of your
          recent trend in health data and daily check ins.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-range pin="false" class="stress-health-updates" value="{{stressScore}}" disabled></ion-range>
        <!-- <br> -->
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Good: <ion-icon name="ellipse"
                  class="good"></ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Moderate: <ion-icon name="ellipse"
                  class="moderate">
                </ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">At Risk: <ion-icon name="ellipse"
                  class="risk"></ion-icon>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="title">Fatigue</ion-card-subtitle>
        <ion-card-subtitle class="content">Your fatigue indicator is a combination of
          your recent trend in health data and daily check ins.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-range pin="false" class="fatigue-health-updates" value="{{fatigueScore}}" disabled></ion-range>
        <!-- <br> -->
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Good: <ion-icon name="ellipse"
                  class="good"></ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Moderate: <ion-icon name="ellipse"
                  class="moderate">
                </ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">At Risk: <ion-icon name="ellipse"
                  class="risk"></ion-icon>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>
  <div id="stats-view" [hidden]="!(currentNav == 'stats')">
    <app-my-stats></app-my-stats>
  </div>
  <div id="competition-view" [hidden]="!(currentNav == 'competition')">
    <app-stats-page></app-stats-page>
  </div>
  <div id="settings-view" [hidden]="!(currentNav == 'settings')">
    <app-settings></app-settings>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn">
  <img src="../../assets/images/Dailycheckin_1.png" style="width:75px;" *ngIf="needsCheckin"
    (click)="openDailyCheckup()" />
  <img src="../../assets/images/Dailycheckin_2.png" style="width:55px;" *ngIf="!needsCheckin" />
</ion-fab>

<!--Start Nav Bar-->
<ion-segment (ionChange)="navChanged($event)" class="nav-bar-container" [(ngModel)]="navBar">
  <ion-segment-button value="today" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'today'"></ion-icon>
    <ion-label>Today</ion-label>
  </ion-segment-button>
  <ion-segment-button value="stats" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'stats'"></ion-icon>
    <ion-label>Stats</ion-label>
  </ion-segment-button>
  <ion-segment-button value="competition" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'competition'"></ion-icon>
    <ion-label>Competition</ion-label>
  </ion-segment-button>
  <ion-segment-button value="settings" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'settings'"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-segment-button>
</ion-segment>