<app-header-card></app-header-card>
<ion-content [fullscreen]="true">
  <!--
    Find a better way for this use divs as "views"
  -->
  <div id="today-view" [hidden]="!(currentNav == 'today')">
    <ion-card color="privacybg">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle style="font-size:10px">Please complete your daily checkin to receive updated stress and
                fatigue scores. Your check in must be completed daily to achieve accurate results.</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="small" color="privacy" (click)="openDailyCheckup()">Start</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    <ion-card class="goal-card">
      <ion-card-header style="padding-bottom: 0 !important">
        <ion-card-subtitle style="color: black; text-decoration: none;">Daily Goals</ion-card-subtitle>
        <ion-card-subtitle style="color: #555555; font-size: 10px;">{{this.http.userSettings.avatarName}} is your
          personal
          goal-driven avatar who adapts
          to
          your own
          personal health status. {{this.http.userSettings.avatarName}} is driven by your consistency in achieving your
          personalized goals to ensure you
          stay motivated in your journey.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="flex-container">
          <div class="bars-container">
            <div class="bar" style="padding-bottom:5px;">
              <ion-text style="font-size: 16px; font-weight: bold; float: left">
                Steps
              </ion-text>
              <ion-text style="font-size: 16px; float: right">{{stepsProgress}}%
              </ion-text>
              <ion-progress-bar value="{{stepsProgressBar}}" reversed="false" color="primary">
                #shadow-root
                <div part="progress" class="progress"></div>
              </ion-progress-bar>
              <ion-text style="font-size: 14px; float: left">{{stepsCurrent}} / {{stepsGoal}}
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text style="font-size: 16px; font-weight: bold; float: left">
                Calories
              </ion-text>
              <ion-text style="font-size: 16px; float: right">{{caloriesProgress}}%
              </ion-text>
              <ion-progress-bar value="{{caloriesProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text style="font-size: 14px; float: left">{{caloriesCurrent}} / {{caloriesGoal}}
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text style="font-size: 16px; font-weight: bold; float: left">
                Sleep
              </ion-text>
              <ion-text style="font-size: 16px; float: right">{{sleepProgress}}%
              </ion-text>
              <ion-progress-bar value="{{sleepProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text style="font-size: 14px; float: left">{{sleepCurrent}} / {{sleepGoal}}
              </ion-text>
            </div>
            <div class="bar" style="padding-bottom:5px;">
              <ion-text style="font-size: 16px; font-weight: bold; float: left">
                Exercise
              </ion-text>
              <ion-text style="font-size: 16px; float: right">{{exerciseProgress}}%
              </ion-text>
              <ion-progress-bar value="{{exerciseProgressBar}}" reversed="false" color="primary">
              </ion-progress-bar>
              <ion-text style="font-size: 14px; float: left">{{exerciseCurrent}} / {{exerciseGoal}}
              </ion-text>
            </div>
          </div>
          <div class="character-container">
            <img src="../../assets/images/Character.svg" style="height: 50%">
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="overall-goal-card">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text style="font-size: 16px; font-weight: bold; float: left">
              Overall Goal Completion
            </ion-text>
          </ion-col>
          <ion-progress-bar value="{{overallCompletionBar}}" reversed="false" color="primary" class="overallBar">
          </ion-progress-bar>
          <ion-col size="12">
            <ion-text style="font-size: 16px; float: right">{{overallCompletion}}%
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="heart-rate-card">
      <ion-button fill="clear" style="float: right;">
        <ion-icon slot="icon-only" name="information-circle" size="small" style="color: #cfcfcf"></ion-icon>
      </ion-button>
      <ion-card-header>
        <ion-card-subtitle style="color: black;font-size:16px;">Workout HR Zones</ion-card-subtitle>
        <ion-card-subtitle style="color: #555555; text-decoration: none;font-size:14x">Your HR Trend shows a moderate
          similarity in
          your fatigue trends
          from
          your last 4 days
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="width: 100%; height: 40%;"></canvas>
        <br>
        <ion-grid>
          <ion-row class="inner-rows">
            <ion-col size="7">
              <ion-text style="font-size: 12px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Fat Burning:</span> {{HRZones[2] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[2] / 100}}" color="fat-burning"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-text style="font-size: 12px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio:</span> {{HRZones[1] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[1] / 100}}" color="cardio"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row class="inner-rows">
            <ion-col size="7">
              <ion-text style="font-size: 12px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Peak:</span> {{HRZones[0] | time}}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-progress-bar value="{{HRZones[0] / 100}}" color="peak"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Fat Burning:</span> 1 min = 1 min
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Cardio:</span> 1 min = 2 min
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 8px; display: block; vertical-align: middle;"><span
                  style="font-weight: bold">Peak:</span> 1 min = 2 min
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-item lines="none" class="item-text title-text">
      <ion-label>Health Updates</ion-label>
    </ion-item>

    <ion-card color="privacybg" *ngIf="!http.userSettings.lastDailyCheckin">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle style="font-size:14x">To receive stress and fatigue updates please complete a Daily
                Check In by clicking the floating clip board icon!</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: black; text-decoration: none;">Stress</ion-card-subtitle>
        <ion-card-subtitle style="color: #555555; text-decoration: none;">Your stress indicator is a
          combination of your
          recent trend in health data and daily check ins.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-range pin="false" class="stress-health-updates" value="{{stressScore}}" disabled></ion-range>
        <!-- <br> -->
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Good: <ion-icon name="ellipse"
                  class="good"></ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Moderate: <ion-icon name="ellipse"
                  class="moderate">
                </ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">At Risk: <ion-icon name="ellipse"
                  class="risk"></ion-icon>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: black; text-decoration: none;">Fatigue</ion-card-subtitle>
        <ion-card-subtitle style="color: #555555; text-decoration: none;">Your fatigue indicator is a combination of
          your recent trend in health data and daily check ins.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-range pin="false" class="fatigue-health-updates" value="{{fatigueScore}}" disabled></ion-range>
        <!-- <br> -->
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Good: <ion-icon name="ellipse"
                  class="good"></ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">Moderate: <ion-icon name="ellipse"
                  class="moderate">
                </ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text style="font-size: 12px; float: left; white-space: nowrap">At Risk: <ion-icon name="ellipse"
                  class="risk"></ion-icon>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>
  <div id="stats-view" [hidden]="!(currentNav == 'stats')">
    <app-my-stats></app-my-stats>
  </div>
  <div id="competition-view" [hidden]="!(currentNav == 'competition')">
    <app-stats-page></app-stats-page>
  </div>
  <div id="settings-view" [hidden]="!(currentNav == 'settings')">
    <app-settings></app-settings>
  </div>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn" (click)="openDailyCheckup()">
  <ion-fab-button size="small">
    <ion-icon name="clipboard-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!--
  Start Nav Bar
-->
<ion-segment (ionChange)="navChanged($event)" class="nav-bar-container" [(ngModel)]="navBar">
  <ion-segment-button value="today" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'today'"></ion-icon>
    <ion-label>Today</ion-label>
  </ion-segment-button>
  <ion-segment-button value="stats" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'stats'"></ion-icon>
    <ion-label>Stats</ion-label>
  </ion-segment-button>
  <ion-segment-button value="competition" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'competition'"></ion-icon>
    <ion-label>Competition</ion-label>
  </ion-segment-button>
  <ion-segment-button value="settings" icon-top>
    <ion-icon name="ellipse" *ngIf="navBar == 'settings'"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-segment-button>
</ion-segment>