.home-bar {
  width: 85%;
  margin: auto;
  margin-top: 15px;
}

.nav-bar-container {
  --background:  #333333;
  z-index: 99;
  border-radius: 0px;
}


 

.nav-bar-container ion-segment-button {
  --background: #333333;
  --border-color: #333333;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --color-checked: #fff;
  --color: #838383;
}

.overallBar {
  --buffer-background: #d8d9d97a;
  --progress-background: 
   linear-gradient(90deg, rgba(84,125,189,1) 0%, rgba(68,196,161,1) 100%);
   
}

.dailyProgress {

  --buffer-background: #d8d9d97a;

}

.nav-bar-container ion-icon {
  font-size: 16px;
  color: #fff;
}

.goal-card {
  width: 100%;
  margin: 0;
  background-color: inherit;
  box-shadow: none;
}

.progress-buffer-bar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

ion-segment-button::before{
border-left:none;
}

 
ion-segment-button::part(indicator-background) {
   background-color: #333333;
  box-shadow: none;
}

 

ion-card-content {
  margin: 0;
  width: 100%;
}

.goal-card ion-grid {
  margin: 0;
  padding: 0;
  width: 100%;
}

.inner-rows {
  margin: 0;
  padding: 0;
}

.overall-goal-card {
  --background: linear-gradient(90deg, rgba(178,196,215,1) 43%, rgba(151,206,192,1) 75%);
  padding: 0 !important;
  height: 100%;
  margin-top:0px;
}

.ion-color-fat-burning{
  --ion-color-base: var(--ion-color-fat-burning);
}

.ion-color-peak{
  --ion-color-base: var(--ion-color-peak);
}

.ion-color-cardio{
  --ion-color-base: var(--ion-color-cardio);
}

.fab-btn {
  position: absolute;
  bottom: 13%;
}

.fab-btn ion-fab-button {
  --background-activated: transparent !important;
  --background-hover: transparent !important;
}

ion-text {
  color: black;
}

ion-progress-bar {
  height: 8px;
  border-radius: 25px;
}

ion-card-item ion-item {
  --padding-end: 0;
  --padding-left: 0;
}

.flex-container {
  display:flex; 
  flex-wrap:wrap; 
  flex-direction: row;
  width: 100%;
}

.flex-container .bars-container {
  display:flex; 
  flex-wrap:wrap; 
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  float: left;
}
.flex-container .bars-container .bar{
  width: 100%;
}

.flex-container .character-container {
  display: flex; 
  flex-wrap: nowrap; 
  flex-direction: column;
  //align-content: space-evenly;
  justify-content: space-evenly;
  width: 45%;
  float: right;
}

.stress-health-updates {
  --bar-height: 8px;
  --knob-size: 12px;
  --knob-background: black;
  --bar-background:  linear-gradient(90deg, rgba(68,196,161,1) 0%, rgba(129,208,222,1) 50%, rgba(84,125,189,1) 100%);
  --bar-background-active: transparent;
  position: inherit !important;
  padding: 0 !important;
  --bar-border-radius: 25px;
}

.fatigue-health-updates {
  --bar-height: 8px;
  --knob-size: 12px;
  --knob-background: black;
  --bar-background:  linear-gradient(90deg, rgba(68,196,161,1) 0%, rgba(129,208,222,1) 50%, rgba(84,125,189,1) 100%);
  --bar-background-active: transparent;
  position: inherit !important;
  padding: 0 !important;
  --bar-border-radius: 25px;
}

.item-text {
  --background: #FFF !important;
}

.good {
  color: #76c7ae;
}

.moderate {
  color: #83d1de;
}

.risk {
  color:#7d99cc;
}

.grey-bg {
  --background: #F9F9F9 !important;
}

.title-text {
  margin-bottom:0px;
}

.top-card {
  margin-bottom:0px;
}

.ion-color-privacy {

  --ion-color-base: var(--ion-color-privacy);
}

.ion-color-privacybg {
   --ion-color-base: var(--ion-color-privacybg);
}