<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-top:50px;">
    
  </ion-grid>
  <ion-grid>
    
      <ion-row class="ion-align-items-center" > 
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text style="font-size: x-large; font-weight: bold; float: left;">Create Your Account</ion-text>
      </ion-col>
     
    </ion-row>
     
      <ion-row class="ion-align-items-center">
     
      <ion-col size="12">
         
          <ion-item lines="none">
            <ion-label position="stacked">
              <p style="font-weight: bold; font-size: 20px;color:black;">Email</p>
            </ion-label>
            <ion-input style="width: 100%;" type="email" placeholder="Your Email" [(ngModel)]="email">
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">
              <p style="font-weight: bold; font-size: 20px;color:black;">Password</p>
            </ion-label>
            <ion-input style="width: 100%;" type="password" placeholder="At Least 6 Characters" [(ngModel)]="password">
            </ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          
          <ion-col size="12" class="ion-text-center">
            
          <ion-button id="createBtn"   color="primary" expand="block" (click)="register()">Next
          </ion-button>
           
         
          
        </ion-col>
        </ion-row>
        
   
    
  </ion-grid>



 



</ion-content>