<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center" style="position: fixed; top: 100px; left: 0; right: 0;">
      <ion-col size="1"></ion-col>
      <ion-col size="6">
        <ion-text style="font-size: x-large; font-weight: bold; float: left;">Create your account</ion-text>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="position: fixed; top: 190px; left: 0; right: 0;">
      <ion-col size="1"></ion-col>
      <ion-col size="8">
        <div style="float: left;">
          <ion-item lines="none">
            <ion-label position="stacked">
              <p style="font-weight: bold; font-size: 20px">Email</p>
            </ion-label>
            <ion-input style="width: 100%;" type="email" placeholder="Enter your email address" [(ngModel)]="email">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">
              <p style="font-weight: bold; font-size: 20px">Password</p>
            </ion-label>
            <ion-input style="width: 100%;" type="password" placeholder="At least 6 characters" [(ngModel)]="password">
            </ion-input>
          </ion-item>
          <ion-button id="createBtn" color="primary" style="margin-top: 5px" (click)="register()">Create
            your account
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>